doctype html
html(lang="es")
head
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="UTF-8")
	title #{title} - Gamertod Shop
	block head
body
	header
		.navigation_menu
			nav 
				.logo
					a(href="/") Gamertod

				if username

					.searchBar
						form(action="", method="GET")
							input(type="text", name="search", placeholder="Buscar")
							input(type="submit", value="Buscar")

					.username

						ul
							li.parent
								a(href="#") #{username}

								ul.childrem
									li
										a(href="/members/profile/" + username) Perfil
									li
										a(href="#") Link #2
									li
										a(href="/members/logout") Cerrar session

				else 
					.menu
						a(href="/") Home
						a(href="#") Link #2
						a(href="#") Link #3
					.login
						a(href="/users/login") Log in
						a(href="/users/signup") Sign Up

		block header

	block content

	footer 
		p &#169; Gamertod Shop - Todos los derechos reservados
		block footer
block out-body