doctype html
html(lang="es")
head
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="UTF-8")
	title #{title} - Gamertod Shop
	block head
body
	header
		.navigation_menu
			nav 
				.logo
					a(href="#") Gamertod
				.menu
					a(href="/") Home
					a(href="#") Link #2
					a(href="#") Link #3
				.login
					a(href="/users/login") Log in
					a(href="/users/signup") Sign Up
					
		block header

	block content

	footer 
		p &#169; Gamertod Shop - Todos los derechos reservados
		block footer
block out-body