extends layout

block content
	main
		form(method="POST", action="")
			h2 Registrate

			.full_name
				.name
					label(id="name_input", for="name") Nombre
					input(type="text", name="name", id="name", placeholder="Nombre")

				.last_name
					label(id="lastName_input", for="last_name") Apellido
					input(type="text", name="last_name", id="last_name", placeholder="Apellido")
			
			label(for="username") Usuario
			input(type="text", class="input", name="username", id="username", placeholder="Usuario")


			label(for="email") Email
			input(type="email", class="input", name="email", id="email", placeholder="Email")

			label(for="password") Contrase単a
			input(type="password", class="input", name="password", id="password", placeholder="Contrase単a")

			label(for="password2") Repita su contrase単a
			input(type="password", class="input", name="password2", id="password2", placeholder="Repita su contrase単a")

			label(for="country") Pais de recidencia
			select(class="input" ,name="country", id="country")
				option(value="") Seleciona un pais
				option(value="Venezuela") Venezuela
				option(value="Colombia") Colombia

			label(for="gender") Genero
			select(class="input", name="gender", id="gender")
				option(value="Mujer") Mujer
				option(value="Hombre") Hombre

			label(for="") Fecha de nacimiento
			.birth_date
				.day
					select(id="b_day", name="b_day")
						option(value="1") 1				
						option(value="2") 2				
						option(value="3") 3
				.month
					select(id="b_month", name="b_month")
						option(value="1") Enero
						option(value="2") Febrero
						option(value="3") Marzo
				.year 
					select(id="b_year", name="b_year")
						option(value="2018") 2018
						option(value="2017") 2017
						option(value="2016") 2016

			input(id="signup_btn", type="submit", value="Registrarse")
block head
	link(rel="stylesheet", href="/stylesheets/css/signup_styles.css")

block out-body
	script(src="/javascript/general.js")
	script(src="/javascript/signup_scripts.js")
