@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, label, p {
  font-family: Roboto, Arial, Helvetica, sans-serif, serif;
}

@font-face {
  font-family: "Genericons";
  src: url(../../fonts/Genericons-Neue.eot), url(../../fonts/Genericons-Neue.ttf), url(../../fonts/Genericons-Neue.woff2);
}
footer {
  width: 100%;
  color: #ffffff;
  padding: 2em 1em;
  text-align: center;
  background-color: #2f2e2e;
}

.navigation_menu {
  width: 100%;
  background-color: #2f2e2e;
}
.navigation_menu nav {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 1em 0px;
  align-items: center;
  justify-content: space-between;
}
.navigation_menu nav a {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, serif, sans-serif;
}
.navigation_menu nav .logo a {
  font-size: 20pt;
}
.navigation_menu nav .menu a,
.navigation_menu nav .login a {
  padding: 10px;
  text-transform: uppercase;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transition-property: color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
}
.navigation_menu nav .menu a:hover,
.navigation_menu nav .login a:hover {
  color: #b0aaa9;
}
.navigation_menu nav .right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation_menu nav .right-side .notification ul {
  width: 100%;
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation_menu nav .right-side .notification ul li {
  margin: 0px 0.5em;
}
.navigation_menu nav .right-side .notification ul .messages:before {
  content: "";
}
.navigation_menu nav .right-side .notification ul .noti:before {
  content: "";
}
.navigation_menu nav .right-side .notification ul li.messages,
.navigation_menu nav .right-side .notification ul li.noti {
  padding: 1em;
  position: relative;
}
.navigation_menu nav .right-side .notification ul li.messages:hover div[class$=-child],
.navigation_menu nav .right-side .notification ul li.noti:hover div[class$=-child] {
  display: block;
}
.navigation_menu nav .right-side .notification ul li.messages:before,
.navigation_menu nav .right-side .notification ul li.noti:before {
  font-size: 20pt;
  font-family: Genericons;
}
.navigation_menu nav .right-side .notification ul li.messages .noti-indicator,
.navigation_menu nav .right-side .notification ul li.noti .noti-indicator {
  top: 0px;
  right: 0px;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child],
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] {
  right: 0px;
  width: 200%;
  padding: 1em;
  display: none;
  color: #1c3643;
  min-width: 400px;
  position: absolute;
  background-color: #fff;
  box-shadow: 5px 10px 18px #888888;
  -moz-box-shadow: 5px 10px 18px #888888;
  -webkit-box-shadow: 5px 10px 18px #888888;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child] .notify,
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] .notify {
  margin: 1em 0px;
  padding: 0.5em 2em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  justify-content: space-between;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child] .notify img,
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] .notify img {
  width: 50px;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child] .notify p.msg,
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] .notify p.msg {
  margin: 0px 1em;
  text-align: center;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child] .notify p#close:before,
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] .notify p#close:before {
  padding: 5px;
  color: #2f2e2e;
  font-size: 15pt;
  cursor: pointer;
  content: "";
  border-radius: 100%;
  border: 1px solid #000;
  font-family: Genericons;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.3s;
  -o-transition-property: background-color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: background-color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
}
.navigation_menu nav .right-side .notification ul li.messages div[class$=-child] .notify p#close:hover:before,
.navigation_menu nav .right-side .notification ul li.noti div[class$=-child] .notify p#close:hover:before {
  color: #f2f2f2;
  background-color: #2f2e2e;
}
.navigation_menu nav .right-side .username ul {
  list-style: none;
}
.navigation_menu nav .right-side .username ul li.parent {
  padding: 1em 2em;
}
.navigation_menu nav .right-side .username ul li {
  position: relative;
}
.navigation_menu nav .right-side .username ul li:hover .childrem {
  display: block;
}
.navigation_menu nav .right-side .username ul li .childrem {
  width: 150%;
  color: #fff;
  right: -25%;
  display: none;
  padding: 0.5em;
  margin-top: 0.3em;
  position: absolute;
  border-radius: 5px;
  background-color: #403f3f;
}
.navigation_menu nav .right-side .username ul li .childrem li {
  font-size: 11pt;
  line-height: 1em;
  margin-bottom: 1em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.navigation_menu nav .right-side .username ul li .childrem li:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0px;
}
.navigation_menu nav .right-side .username ul li .childrem li a {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transition-property: color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
}
.navigation_menu nav .right-side .username ul li .childrem li a:hover {
  color: #b0aaa9;
}
.navigation_menu nav .searchBar {
  width: 60%;
}
.navigation_menu nav .searchBar form {
  width: 100%;
}
.navigation_menu nav .searchBar form input[type=text] {
  width: 90%;
  padding: 5px;
}
.navigation_menu nav .searchBar form input[type=submit] {
  width: 10%;
  padding: 5px;
  display: inline-block;
}

.msg_wrap {
  width: 90%;
  padding: 1em 2em;
  margin: 1.5em auto;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.msg_wrap #close {
  top: 10px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
.msg_wrap #close:before {
  color: #000;
  font-size: 15pt;
  content: "";
  font-family: Genericons;
}

.msg_error {
  color: red;
  border: 1px solid red;
}

.msg_success {
  color: green;
  border: 1px solid green;
}

main {
  width: 100%;
  background-color: #f2f2f2;
}
main .wrap {
  width: 95%;
  margin: auto;
}
main .wrap .item_section {
  padding: 2em;
}
main .wrap .item_section h2 {
  color: #555568;
  margin: 1em 0px;
}
main .wrap .item_section hr {
  color: #dddddd;
}
main .wrap .item_section .items {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
main .wrap .item_section .items .item {
  padding: 1em;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
main .wrap .item_section .items .item img {
  width: 80%;
  display: block;
  margin: 0.5em auto;
}
main .wrap .item_section .items .item .description {
  text-align: left;
}
