@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, label, p {
  font-family: Roboto, Arial, Helvetica, sans-serif, serif;
}

@font-face {
  font-family: "Genericons";
  src: url(../../fonts/Genericons-Neue.eot), url(../../fonts/Genericons-Neue.ttf), url(../../fonts/Genericons-Neue.woff2);
}
footer {
  width: 100%;
  color: #ffffff;
  padding: 2em 1em;
  text-align: center;
  background-color: #2f2e2e;
}

.navigation_menu {
  width: 100%;
  background-color: #2f2e2e;
}
.navigation_menu nav {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 1em 0px;
  align-items: center;
  justify-content: space-between;
}
.navigation_menu nav a {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, serif, sans-serif;
}
.navigation_menu nav .logo a {
  font-size: 20pt;
}
.navigation_menu nav .menu a,
.navigation_menu nav .login a {
  padding: 10px;
  text-transform: uppercase;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transition-property: color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
}
.navigation_menu nav .menu a:hover,
.navigation_menu nav .login a:hover {
  color: #b0aaa9;
}
.navigation_menu nav .username ul {
  list-style: none;
}
.navigation_menu nav .username ul li.parent {
  padding: 1em 2em;
}
.navigation_menu nav .username ul li {
  position: relative;
}
.navigation_menu nav .username ul li:hover .childrem {
  display: block;
}
.navigation_menu nav .username ul li .childrem {
  width: 150%;
  color: #fff;
  right: -25%;
  display: none;
  padding: 0.5em;
  margin-top: 0.3em;
  position: absolute;
  border-radius: 5px;
  background-color: #403f3f;
}
.navigation_menu nav .username ul li .childrem li {
  font-size: 11pt;
  line-height: 1em;
  margin-bottom: 1em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.navigation_menu nav .username ul li .childrem li:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0px;
}
.navigation_menu nav .username ul li .childrem li a {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transition-property: color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
}
.navigation_menu nav .username ul li .childrem li a:hover {
  color: #b0aaa9;
}
.navigation_menu nav .searchBar {
  width: 60%;
}
.navigation_menu nav .searchBar form {
  width: 100%;
}
.navigation_menu nav .searchBar form input[type=text] {
  width: 90%;
  padding: 5px;
}
.navigation_menu nav .searchBar form input[type=submit] {
  width: 10%;
  padding: 5px;
  display: inline-block;
}

.msg_wrap {
  width: 90%;
  padding: 1em 2em;
  margin: 1.5em auto;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.msg_wrap #close {
  top: 10px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
.msg_wrap #close:before {
  color: #000;
  font-size: 15pt;
  content: "ï…";
  font-family: Genericons;
}

.msg_error {
  color: red;
  border: 1px solid red;
}

.msg_success {
  color: green;
  border: 1px solid green;
}

html, body, main {
  height: 100%;
  min-height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main form {
  width: 60%;
  margin: auto;
}
main form h2 {
  font-size: 30pt;
  margin: 1em 0px;
  text-align: center;
}
main form .full_name {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}
main form .full_name > div {
  flex: 1;
}
main form .full_name > div input[type=text] {
  width: 100%;
  padding: 5px;
  display: block;
}
main form .input {
  width: 100%;
  padding: 5px;
  display: block;
}
main form .input_wrap {
  margin-bottom: 1em;
}
main form .birth_date > div {
  display: inline-block;
}
main form .birth_date > div select {
  width: 100px;
  margin: 0px 0.5em;
}
main form input[type=submit] {
  display: block;
  margin: 1.5em auto;
  border: none;
  width: 150px;
  font-size: 17px;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 5px;
  background-color: #2f2e2e;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transition-property: color;
  -o-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: color;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
}
main form input[type=submit]:hover {
  cursor: pointer;
  color: #b0aaa9;
}
main form .label-error {
  color: red;
}
main form span[id$=_span] {
  color: red;
}
