extends ../layouts/layout

block content
	main
		form(method="POST")
			h2 Inicia Sesion

			if failure
				.msg_wrap.msg_error
					p #{failure}
					p#close(onclick="this.parentNode.parentNode.removeChild(this.parentNode)")

			if success
				.msg_wrap.msg_success
					p #{success}
					p#close(onclick="this.parentNode.parentNode.removeChild(this.parentNode)")


			label(for="email") Email:
			input(type="text", id="email", name="email", placeholder="Email")

			label(for="password") Contraseña:
			input(type="password", id="password", name="password", placeholder="Contraseña")

			input(type="submit", value="Login")

			p(class="link").
				No tienes cuenta? registrate #[a(href="#") aqui]
block head
	link(rel="stylesheet", href="/stylesheets/css/login_styles.css")