.navigation_menu {
	width: 100%;
	background-color: #2f2e2e;

	nav {
		width: 90%;
		margin: auto;
		display: flex;
		padding: 1em 0px;
		align-items: center;
		justify-content: space-between;

		a {
			color: #fff;
			text-decoration: none;
			font-family: Roboto, Arial, Helvetica, serif, sans-serif;
		}

		.logo a {
			font-size: 20pt;
		}

		.menu a,
		.login a {
			padding: 10px;
			text-transform: uppercase;
			@include transition(0.2s, color, ease-out, 0.1s);

			&:hover {
				color: #b0aaa9;
			}
		}

		.username {
			ul{
				list-style: none;


				li.parent {
					padding: 1em 2em;
				}

				li {
					position: relative;

					&:hover {
						.childrem {
							display: block;
						}
					}

					.childrem {
						width: 150%;
						color: #fff;
						right: -25%;
						display: none;
						padding: 0.5em;
						margin-top: 0.3em;
						position: absolute;
						border-radius: 5px;
						background-color: #403f3f;

						li {
							font-size: 11pt;
							line-height: 1em;
							margin-bottom: 1em;
							text-align: center;
							padding-bottom: 1em;
							border-bottom: 1px solid rgba(255,255,255, 0.80);

							&:nth-last-child(1) {
								border-bottom: none;
								padding-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}
}