.navigation_menu {
	width: 100%;
	background-color: #2f2e2e;

	nav {
		width: 90%;
		margin: auto;
		display: flex;
		padding: 1em 0px;
		align-items: center;
		justify-content: space-between;

		a {
			color: #fff;
			text-decoration: none;
			font-family: Roboto, Arial, Helvetica, serif, sans-serif;
		}

		.logo a {
			font-size: 20pt;
		}

		.menu a,
		.login a {
			padding: 10px;
			text-transform: uppercase;
			@include transition(0.2s, color, ease-out, 0.1s);

			&:hover {
				color: #b0aaa9;
			}
		}
	}
}